.main_message {
    display: flex;
    margin: 20px;
    align-items: center;
}

.message_avatar img {
    height: 44px;
    width: 44px;
}

.message_content {
    background: $white;
    padding: 10px;
    border-radius: 12px;
}

.owner_message {
    background: $primary;
    color: $white;
}

textarea {
    max-height: 100px;
}

.message_body {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 20px;
}

.message_created {
    padding: 10px;
}
