.main_message {
    display: flex;
    margin: 20px;
    align-items: center;
}

.message_avatar img {
    height: 44px;
    width: 44px;
}

.message_content {
    max-width: 70%;
    background: $white;
    padding: 10px;
    margin-left: 20px;
    border-radius: 12px;
}

.owner_message {
    background: $primary;
    color: $white;
}

textarea {
    max-height: 100px;
}
